* {
    margin: 0;
    padding: 0;
    border: 0;
}

html {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    tab-size: 4;
    font-family: Inter, system-ui;
}

body {
    padding: 32px;
}

.row {
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
}

a {
    text-decoration: none;

}

.text__purple {
    color:rgb(100, 21, 255);
}

/* NAVIGATION */

.logo__wrapper {
    font-size: 24px;
    text-decoration: none;
    font-weight: 900;
    display: flex;
    align-items: center;
    color: #242424;
}

.logo__wrapper:hover {
    color:blueviolet;
}

.logo {
    width: 100%;
    max-width: 40px;
    padding-right: 0.75rem;
}

.nav__links {
    position: relative;
}

.nav__link {
    font-size: 18px;
    color:#000;
    font-weight: 600;
    margin: 24px;
    transition: all 300ms ease;
    padding-bottom: 4px;
}

.nav__link:hover{
    border-bottom: 2px solid blueviolet;
    color:blueviolet;
    line-height: 2px;
}

.nav__link--login {
    margin-left: 3rem !important; 
}

.btn {
    font-size: 18px;
    font-weight: 600;
    background-color: rgb(100, 21, 255);
    border-radius: 9999px;
    color: #fff;
    transition: all 250ms ease;
    padding: 0.75rem 2rem;
    text-align: center;
}

.btn:hover {
    cursor: pointer;
    background-color: darkorchid;
}

/* MAIN */

.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 96px 0;
}

.main__desc {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 40%;
}

.main__desc--title {
    font-size: 56px;
    font-weight: 700;
}

.main__desc--para {
    margin: 36px 0;
    font-size: 20px;
}

.main__desc--input-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
}

.main__desc--input {
    position: relative;
    width: 100%;
    max-width: 420px;
    padding: 20px 32px;
    font-weight: 500;
    font-size: 16px;
    border: 2px solid rgb(226, 232, 240);
    border-radius: 9999px;
    color:rgb(160 174 192);
    font-family: font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}


.main__desc--input:hover {
    border-color: #000;
    transition: ease 400ms all;
}

.main__btn {
    width: 100%;
    max-width: 100px;
    position :absolute;
    right: 80px;
    top: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main__logo--para {
    margin: 36px 0 24px 0;
    color: rgb(160 174 192);
    font-weight: 700;
    margin-top: 60px;
    font-size: 15px;
}

.main__logo {
    width: 100%;
    max-width: 80%;
    filter: opacity(0.5);
}


.main__img {
    width: 100%;
}

/* FEATURES */
.features__container {
    margin: 80px 0;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.features__heading {
    text-align: center;
    margin-bottom: 40px;
}

.features__title, .features__main--title, .features__para {
    margin-bottom: 16px;
}

.feature__para {
    font-weight: 500;
    width: 100%;
    line-height: 2;
}

.features {
    display: flex;
    flex-wrap: wrap;
}

.feature {
    width: 33.3%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    
}

.features__wrapper {
    width: 100%;
    max-width: calc(100%/3);
    margin-bottom: 8px;
}

.feature__img {
    border-radius: 9999px;
    border: 2px solid;
    border-width: 1px;
    padding: 1.25rem;
    border-color: rgb(160 174 192);;
}

.text__wrapper {
    margin-left: 1rem;
    margin-top: 0.5rem;
}